:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --color-1: #081935;
  --color-2: #0D2A59;
  --color-5: #96CC00;
  
  --color-4: #FBC00E;
  /* --color-4: #FCC522; */
  
  --color-3: #1199A0;
  /* --color-3: #15C2CB; */
  /* --color-3: #2A9D8F; */
  /* --color-3: #1E7166; */
}

* { box-sizing: border-box; }

body {
  background-color: var(--color-2);
  color: var(--color-4);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

main {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 2rem 3rem;
  display: grid;
  place-items: center;
  gap: 1rem;  
  overflow: hidden;
  
  min-height: 100vh;
  background-image: url('../Assets/polka-dots-blue-xl.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0 0 1rem;
  text-transform: uppercase;
  text-shadow: 0rem 0rem 1rem var(--color-1);
  text-align: center;
  font-size: 2rem;
}

p, a { margin: 0; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .6rem;
}

label {
  display: flex;
  flex-direction: column-reverse;
  gap: .2rem;
  cursor: pointer;
  font-weight: bolder;
}

input, select, button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: .5rem 1.1rem;
  font-size: 1.1rem;
  box-shadow: -.3rem -.3rem .2rem 0 var(--color-3), .3rem .3rem .2rem 0 var(--color-1);
}

input[type="radio"] {
  display: inline;
  visibility: visible;
  opacity: 0;
}

input[type="radio"]:checked + label {
  background-color: var(--color-4);
}

button {
  align-self: center;
  font-weight: 600;
  background-color: var(--color-1);
  color: var(--color-4);
  padding: .7rem 1.4rem;
}

button:disabled { cursor: not-allowed; }

input:focus, 
select:focus,
div>input:focus+label,
a>button:focus, 
a>button:hover {
  outline: var(--color-1) solid .3rem;
}

a:focus, 
a:hover { outline: none; }

.btns--container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn--shadow { 
  box-shadow: .25rem .25rem .1rem var(--color-5), -.25rem -.25rem .1rem var(--color-3) ;
  border: .1rem solid var(--color-2);
}

.get-results-btn {
  background-color: var(--color-4);
  color: var(--color-1);
}

.start-quiz-btn {
  margin-top: 1.5rem;
  box-shadow: -.2rem -.2rem 0 var(--color-3), .2rem .2rem 0 var(--color-5);
  background-color: var(--color-4);
  border: 1px solid var(--color-1);
  color: var(--color-1);
}

.play-again-btn { 
  background-color: var(--color-4);
  color: var(--color-1);
}

.change-settings-btn { 
  background-color: inherit;
  border: .1rem solid var(--color-4);
  box-shadow: none;
}

.label {
  font-size: 1.3rem;
  text-align: center;
}

.questions--container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: var(--color-1) solid .1rem;
}

.question--title { font-weight: 600; }

.results--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.results--number {
  font-weight: bolder;
  text-shadow: .15rem .15rem 0 var(--color-1);
}

.answers--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.answer {
  background-color: var(--color-3);
  color: var(--color-1);
  border-radius: 8px;
  padding: 1rem 1.2rem;
  align-self: center;
}

.correct { 
  font-weight: bolder;
  background-color: var(--color-5);
  color: var(--color-1);
  border: .1rem solid;
}

.incorrect { 
  background-color: var(--color-1);
  color: var(--color-4);
  border: .1rem solid var(--color-3);
}

.not-selected.right { 
  background-color: var(--color-4);
  font-weight: bolder;
  color: var(--color-1);
  border: .1rem solid var(--color-5);
}

.not-selected.wrong { 
  background-color: var(--color-2);
  border: .1rem solid var(--color-3);
  color: var(--color-4);
}

@media screen and ( max-width: 600px ) {
  main {
    padding: 1.5rem;
    overflow: initial;
  }
  form {
    display: flex;
    justify-content: center;
  }
  input, select {
    width: 100%;
    place-self: center;
  }
  .start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .question {
    display: flex;
    flex-direction: column;
  }
  .answers--container {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    place-items: center;
    margin-bottom: 1rem;
  }
}

@media screen and ( min-width: 1000px ) {
  .questions--container, .results--container {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 2.5rem;
  }
  .question {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .answers--container {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
  }
}